In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv("loan.csv")

In [3]:
ds.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
ds["Dependents"].mode()

0    0
Name: Dependents, dtype: object

In [5]:
ds["Dependents"].fillna(ds["Dependents"].mode()[0],inplace=True)

In [6]:
ds.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents            0
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
ds["Dependents"].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [9]:
ds["Dependents"].value_counts()

Dependents
0     360
1     102
2     101
3+     51
Name: count, dtype: int64

In [11]:

ds["Dependents"].replace("3+","3",inplace = True)
ds["Dependents"].value_counts()

Dependents
0    360
1    102
2    101
3     51
Name: count, dtype: int64

In [19]:
ds["Dependents"] = ds["Dependents"].astype("int64")
ds["Dependents"].info
ds.info

<bound method DataFrame.info of       Loan_ID  Gender Married  Dependents     Education Self_Employed  \
0    LP001002    Male      No           0      Graduate            No
1    LP001003    Male     Yes           1      Graduate            No
2    LP001005    Male     Yes           0      Graduate           Yes
3    LP001006    Male     Yes           0  Not Graduate            No
4    LP001008    Male      No           0      Graduate            No
..        ...     ...     ...         ...           ...           ...
609  LP002978  Female      No           0      Graduate            No
610  LP002979    Male     Yes           3      Graduate            No
611  LP002983    Male     Yes           1      Graduate            No
612  LP002984    Male     Yes           2      Graduate            No
613  LP002990  Female      No           0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>